@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700'); // Montserrat 
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700'); // Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab'); // Roboto Slab

$ff-title: 'Montserrat', sans-serif;
$ff-subtitle: 'Montserrat', sans-serif; 
$ff-qoute: 'Roboto Slab', sans-serif;

$ff-body: 'roboto', sans-serif;

$fw-normal: 400; 
$fw-medium: 500;
$fw-bold: 700;

$fs-italic: italic;

@mixin sans-serif($fs, $color: $clr-primary, $tt: uppercase, $lh:1, $ls: .01em){
    font-family: $ff-title;
    font-size: $fs;
    color: $color;
    text-transform: $tt;
    line-height: $lh;
    letter-spacing: $ls;
}