// Main colors
$clr-primary: #A95050;;
$clr-secondary: #868e96;

// Accent colors
$clr-light: #f8f9fa;
$clr-dark: #343a40;

$clr-accent: #868e96;

// Grey 
$clr-white: #fff;
$clr-gray-light: #ececec;
$clr-gray: #868e96;
$clr-gray-dark: #343a40;
$clr-black: #000;

// Function colors
$clr-success: #28a745;
$clr-info: #17a2b8;
$clr-warning: #ffc107;
$clr-danger: #dc3545;
$clr-error:#dc3545;






