---

layout: default

---


<section class="section section--portfolio-item" style="background-image: url('{{ page.header }}');">
                  
    <div class="header__information">
        <ul>
            <li><strong>Opdrachtgever:</strong> {{ page.opdrachtgever }}</li>
            <li><strong>Jaar:</strong> {{ page.jaar }}</li>

        </ul>
    </div>

    <!-- Intro -->
    <div class="portfolio__intro--white">
        <h1 class="portfolio__title">{{ page.title }}</h1>
        <p class="portfolio__text">{{ page.description }}</p>
    </div>

</section>


<section class="section section--description">
    
    {{ content }}

</section>