<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dennis Bensch</title>
    
    <link rel="stylesheet" href="{{ "assets/css/main.css" | prepend: site.baseurl }}">

</head>
<body>

    <!-- Navigatie -->
    <header>
        <section class="section__navigation">
            <h5 class="logo" style="color: white;">Dennis Bensch</h5>
            {% include navigatie.html %}
        </section>
    </header> 

    <!-- Header van de pagina / Afbeelding -->
    <section class="section__header">           
        <h1 class="header__title">
            <span>{{ page.span }}</span> <!-- Hi, -->
            {{ page.title }} <!-- Ik ben Dennis Bensch -->
        </h1>
        <p class="header__text">{{ page.description }}</p>
    </section>

    <!-- About me -->
    <section class="section section__about">
        <img class="about__img" src="{{ page.about__img }}" alt="Dennis Bensch"> <!-- Profiel foto -->
        <h1 class="about__title">{{ page.about__title }}</h1> <!-- Title -->
        <h3 class="about__subtitle">{{ page.about__subtitle }} </h3> <!-- Subtitle -->
        <div class="about__text"><p>{{ page.about__text }}</p></div> <!-- Short review -->
    </section>

    <!-- Featured portfolio items -->
    <section class="section section__featured">
    
            <!-- Portfolio item 1  -->
            <figure class="portfolio__item portfolio__item--left">
                <figcaption>
                    <h1 class="portfolio__title">Programmeer je eigen leven</h1>
                    <a href="/portfolio/programmeer-je-eigen-leven" class="portfolio__link">Zie project</a>
                </figcaption>
                <img class ="portfolio__image" src="assets/images/thumb-toekomst.jpg">
            </figure>

            <!-- Portfolio item 2  -->
            <figure class="portfolio__item portfolio__item--right">
                <figcaption>
                    <h1 class="portfolio__title">Hacked City</h1>
                    <a href="/portfolio/hacked-city" class="portfolio__link">Zie project</a>
                </figcaption>
                <img class ="portfolio__image" src="assets/images/thumb-hacked.jpg">
            </figure> 
    </section>

    <!-- Section Footer -->
    {% include footer.html %}
    <!-- Eind section Footer -->
</body>
</html>