<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dennis Bensch</title>
    
    <link rel="stylesheet" href="{{ "assets/css/main.css" | prepend: site.baseurl }}">

</head>
<body>

    <!-- Main header / navigatie -->
    <header>
        <section class="section__navigation">
            <h5 class="logo" style="color: white;">Dennis Bensch</h5>
            {% include navigatie.html %}
        </section>
    </header> 

    <!-- Subheader van de pagina  -->
    <section class="section__header">           
        <h1 class="header__title"><span>{{ page.span }}</span> {{ page.title }}</h1>
        <p class="header__text">{{ page.description }}</p>
    </section>

    <!-- About me -->
    <section class="section section__content">
        <img class="about__img" src="{{ page.about__img }}" alt="A random picture">
        <h1 class="about__title">{{ page.about__title }}</h1>
        <h3 class="about__subtitle">{{ page.about__subtitle }} </h3>
        <div class="about__text">
            <p>{{ page.about__text }}</p>
        </div>
    </section>

    <!-- Portfolio items -->
    <section class="section section__featured">
    
            <!-- Portfolio item 1  -->
            <figure class="portfolio__item portfolio__item--left">
                <figcaption>
                    <h1 class="portfolio__title">Programmeer je eigen leven</h1>
                    <a href="/portfolio/programmeer-je-eigen-leven" class="portfolio__link">Zie project</a>
                </figcaption>
                <img class ="portfolio__image" src="assets/images/thumb-toekomst.jpg">
            </figure>

            <!-- Portfolio item 2  -->
            <figure class="portfolio__item portfolio__item--right">
                <figcaption>
                    <h1 class="portfolio__title">Hacked City</h1>
                    <a href="/portfolio/hacked-city" class="portfolio__link">Zie project</a>
                </figcaption>
                <img class ="portfolio__image" src="assets/images/thumb-hacked.jpg">
            </figure> 
            
    </section>

    {% include footer.html %}
    
</body>
</html>