---

layout: default

---

<!-- 
    PORTFOLIO
    Hier worden alle cases ingeladen en getoond op de pagina
-->

<section class="section__header--second">
    
    <!-- Uitleg over het portfolio cases -->
    <h1 class="header__title">{{ page.title }}</h1>
    <p class="header__text">{{ page.description }}</p>

</section>

<section class="section section__portfolio">
    
    <div class="grid-cases">
    {% for portfolio in site.portfolio %}

        <!-- Portfolio items  -->
        <figure class="case__item">
            <img class ="case__image" src="assets/images/thumb-{{ portfolio.thumb }}">
            <figcaption>
                <h3 class="case__title">{{ portfolio.title }}</h3>
                <p class="case__description">{{ portfolio.description }}</p>
                <a href="{{ portfolio.url }}" class="case__link">Lees meer</a>
            </figcaption>
        </figure>

    {% endfor %}
    
</div>

</section>
    