body{
    font-family: $ff-body;
    font-size: .875rem;
    // font-size: 1.325rem;
    line-height: 1.5em;
    color: $clr-dark;
    font-weight: $fw-normal;
}

h1, h2, h3, p {
    margin-bottom: 1em;
    margin-top: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1{
    @include sans-serif($fs: 3.125rem);

    @include mq {
        font-size: 4.25rem;
      }
    
    span{
        display: block;
    }
}

h2{
    @include sans-serif($fs: 2rem);
    
    @include mq {
        font-size: 3rem;
    }
}

h3{
    @include sans-serif($fs: 1.8rem, $color: $clr-secondary, $tt: initial);
    font-weight: $fw-normal;
}

// .section{
    // grid-template-columns: repeat(12, [col-start] 1fr) !important; 
    // margin-top: 2.5em;
    // margin-bottom: 2.5em;
// }

// Default pages 
.section--content{
    @include container;
    @include clearfix;
    
    display: grid;
    grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
    //     grid-column-gap: .5em;

    margin-top: 8em;
    margin-bottom: 10em;
}

.section--description{
    @include container($width: 60%);
    @include clearfix;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;

    margin-top: 8em;
    margin-bottom: 10em;

    h1, h2, h3, h4, h5, h6{
        margin: 0;
        padding: 0;
    }
}

// Secion grid 12 column 
.section--column12{
    @include container;
    @include clearfix;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
}


// Footer van de website 
footer{
    background: rgba($clr-primary, .85);
    text-align: left;

    color: $clr-white;
    
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
    grid-row: auto;

    ul{
        list-style: none;
        grid-column: 2 / 12 span;
    }
}