.section--header{
    background: {
        size: cover;
        repeat: no-repeat;
        
        color: $clr-primary;
        image: linear-gradient($clr-primary, $clr-secondary), url('https://source.unsplash.com/random');
        blend-mode: multiply;
    }
   
    
    padding: 5vh 0;
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // grid: auto-flow / minmax(1em, 1fr) minmax(400px, 900px) minmax(1em, 1fr);
    grid-gap: 1em;

    .logo,
    .header__title{
        grid-column: 2 / 7 span;
    }

    h1.header__title{
        @include sans-serif($fs: 3rem, $color: white, $tt: initial);
        margin: 2em 0 .8em 0;
        
        span{
            @include sans-serif($fs: 5.5rem, $color: $clr-gray-dark, $lh: 1.2);
        }
    }

    .header__text{
        grid-column: 2 / 7;
        position: relative;
        color: $clr-white;

        &::after{
            content: '';
            display: block;
            height: 2px;
            background: $clr-white;
            opacity: 0.3;

            width: 100%;
            position: absolute;
            top: -1.1em;
        }
    }
}