.about__img{
    max-height: 20em;

    @media (min-width: 40em){
        float: left;
        margin-right: 1em;    
    }
}

.about__title{
    margin-bottom: .2em;
    @include sans-serif($fs: 4.25rem);
}

.about__subtitle{
    margin: .5em 0;
    @include sans-serif($fs: 2.25rem, $color: $clr-secondary);
}





@supports (display: grid){
    .section__about{
        display: grid;
        grid-template-columns: [port-start] minmax(6em, 1fr) [name-start] minmax(6em, 1fr) [img-end] 2fr [port-end];
        grid-column-gap: .5em;
    }
    
    .about__img{
        grid-column: port / img;
        grid-row: 1 / 2;

        @include mq{
            grid-row: 1 / 4;
        }
    }

    .section__featured{
        display: grid;
    }

    .about__title{
        grid-column: name-start / port-end;
        grid-row: 1 / 2;
        align-self: end;
    }

    .about__subtitle,
    .about__text{
        grid-column: port / port;

        @include mq{
            grid-column: img-end / port-end;
        }
    }

    .about__subtitle {
        grid-row: 2 / 3;
      }
    
      .about__text {
        grid-row: 3 / 4;
      }
}

/* --------------------------------------------------------
    Portfolio op de homepagina 
---------------------------------------------------------- */
.portfolio__item{
    display: block;
    position: relative;
    margin-bottom: 5em;
    
    figcaption{
        position: absolute;
        top: 2em;
        z-index: 1;
    }

    .portfolio__title{
        color: $clr-primary;
        margin: 0 0 .4em 0;
    }
    .portfolio__image{
        display: block;
        width: 80%;
        max-height: 25em;
        object-fit: cover;
        opacity: .4;
        background-color: $clr-gray-dark;
    }
    
    .portfolio__link{
        color: $clr-secondary;
        font-weight: $fw-bold;
        font-size: 1.5em;
        text-decoration: none;
        align-self: flex-start;
    
        &::after{
            content: '';
            height: 2px;
            width: 100px;
            background-color: $clr-secondary;
            display: block;
            margin-top: .2em;
        }
    }
}

.portfolio__item--left{
    grid-column: 2 / 12;
    text-align: left;
    
    .portfolio__image{
        float: right;
    }
}

.portfolio__item--right{
    text-align: right;
    grid-column: 2 / 12;
   
    .portfolio__image{
        float: left;
    }

    figcaption{
        right: -1em;
    }

    .portfolio__link{
        position: relative;
        right: .6em;

        &::after{
             position: absolute;
             right: 0;
        }
    }
}