.logo{
  text-align: left;
}

.nav-toggle{
  display: none;
}

nav {
    float: right;
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li{
      margin: 0 0 0 1em;
      display: inline-block;
    }

    a {
      color: $clr-white;
      text-transform: uppercase;
      font-weight: $fw-bold;
      text-decoration: none;
      display: block;
  
      &:hover {
        text-decoration: underline;
      }
    }
}

// Mobile devices
@media only screen and (max-width: 800px) {
  
  nav{
    display: none;
    grid: none;
    grid-column: none;
    grid-row: none;
  }

  .nav-toggle:checked ~ nav{
    display: block;
    background: rgba($clr-primary, .85);
    position: absolute;
    text-align: left;
    width: 100%;
    top: 100%;
    left: 0;

    & li{
      display: block;
      margin: 0 0 1em 1em;
    }
  }

  // Hamburger menu
  .nav-toggle-label{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

      & span,
      & span::before,
      & span::after{
        display: block;
        background: $clr-white;
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }
    
    & span::before,
    & span::after{
      content: '';
      position: absolute;
    }

    & span::before{
      bottom: 7px;
      
    }
    & span::after{
      top: 7px;

    }
  }
}