// Portfolio werk tonen 
// Zelfde grid overnemen in de rest van de pagina zodat het stramie gelijk loopt 
// Toevoegen in de algemene section waardoor het overal gelijk loopt

.grid-cases{
    @include container($max-width: 100%);
}

.case__item{
    position: relative;
    overflow: hidden;

    .case__image{
        display: block;
        width: 100%;
        height: 20em;
        object-fit: cover;
    }
    
    figcaption{
        position: absolute;
        top: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1em;
        background: rgba($clr-accent, .75);
        color: $clr-white;
        text-align: left;
        transition: top ease-in-out 400ms;
        height: 100%;
    }

    &:hover figcaption,
    &:focus figcaption{
        top: 0;
    }
}

// Teksten in de thumbnail van de portfolio items
.case__title{
    color: $clr-white;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: auto;
}

.case__description{
    display: none;
}

.case__link{
    color: $clr-white;
    font-weight: $fw-bold;
    font-size: 1.1em;
    text-decoration: none;
    border-bottom: 2px solid $clr-white;
    bottom: 5em;
    position: absolute;

    &::after{
        content: url(../images/arrow.svg);
        display: inline-block;
        margin-left: 0.6em;
        height: .9em;
        width: .9em;
    }
}

@supports (display: grid){
    .grid-cases{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 2em;
    }

    .case__item{
        grid-column: span 3;
    }
}

// -------------------------------------------------------------------
// BESCHRIJVING VAN PORTFOLIO VERVOLG PAGINA HEADER
// -------------------------------------------------------------------

.section__portfolio--item{
    width: 100%;
    height: 40em;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    background: {
        size: cover;
        repeat: no-repeat;
        position: center center;
    }

    .header__information{
        background: $clr-white;
        border-top: 5px solid $clr-primary;
        padding: 2em;

        ul{
            padding-left: 1.7em;
        }

        li{
            display: inline-block;
            margin-right: 2em;
        }
    }
}

.section--description{
    h3{
        margin:.5em 0;
    }
}
@supports (display: grid){
    .section__portfolio--item{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .header__information{
        grid-column: 3 / 12 span;
        grid-row: 7;
    }

    h2, h3, h4, h5, h6{
        grid-column: 4 / 13;
    }
}
